.navbar1{
  background-color: #7b52af !important;
}

.title-name{
  color: white !important;
}
.hello{
  color: blue;
}
.nav-link{
  color: white !important;
}
table {
  justify-content: start !important;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.card{
    box-shadow: 0px 0px;
}